<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="/javascripts/script.js"></script>
</head>
<body>
    <div class="w-full text-white min-h-screen bg-[#212121] p-5 flex flex-col gap-4 text-[#ececec]">
        <form action="/edit" method="post">
            <div class="main w-full flex flex-col gap-4">
                <input class="block px-5 py-2 bg-[#5C5C5C] rounded-md outline-none  w-full" type="text"  value="<%= oldfilename %>" name="oldfilename"></input>

                <input class="block px-5 py-2 bg-[#303030] rounded-md outline-none  w-full" type="text"  placeholder="Enter new File name" name="newfilename"></input>
                <input class="w-fit bg-blue-400 px-5 py-2 rounded-md" type="submit"  value="Rename file"></input>
            </div>  
        </form>
    </div>

    
</body>
</html>


